<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DivanDevConnectionString" connectionString="Data Source=10.2.254.79;Initial Catalog=DivanDev;User ID=devuser;Password=2Kek@1956" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>